body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.pie-chart {
  height:250px;
  width:250px;
}

.pie-container {
  margin-top:100px;
  display:flex;
}

.pie-left {
  flex-grow:1;
}

.pie-right {
  flex-grow:2;
  position:relative;
  top:-50px;
}

.main-container {
  margin-top: 80px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

@media only screen and (max-width: 600px) {
  .main-container {
    margin-top: 30px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .main-container h1 {
    font-size: 26px;
  }
}

.main-container p {
  margin-bottom: 30px;
  line-height: 30px;
  font-size: 20px;
}

.main-container hr {
  border: 1px dashed #EEE;
}

.intro-bold-link {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.upload-container {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 70px;
}

.upload {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 40px;
}

.results-container {
  color: #222;
  background-color: #fffde7;
  margin-top: 10px;
  padding: 30px;
  border-top: 4px solid #eeecd6;
}

.classification-results {
  color: black;
}

.result-title {
  font-size: 26px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.red {
  color: #f44336
}

.green {
  color: #8BC34A
}

.blue {
  color: #03A9F4
} 
